* {
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient( 90deg, #85FFCC, #80FCFA, #FF82F5);
    color: white; 
    padding: 0px 20px;
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}

.logo img {
    width: 70px;
    height: 50px;
    margin: 10px;
    border-radius: 75px;
}

.logo h2 {
    background: #000105;
    background: -webkit-linear-gradient(180deg, #0C158A 0%, #3F3773 25%, #0C0C0D 100%);
    background: -moz-linear-gradient(180degt, #0C158A 0%, #3F3773 25%, #0C0C0D 100%);
    background: linear-gradient(180deg, #0C158A 0%, #3F3773 25%, #0C0C0D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'IBM Plex Serif', serif;
}

.nav-content {
    display: flex;
    flex-direction: row;
}

.nav-content ul {
    display: flex;
    align-items: center;
}

.nav-content ul li {
    display: flex;
    list-style: none;
    margin: 3px;
}

.nav-content ul li a {
    display: flex;
    text-decoration: none;
    background: linear-gradient(to right, #0C158A 0%, #3F3773 25%, #0C0C0D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'IBM Plex Serif', serif, sans-serif;
}

.nav-content ul li a img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 37);
    border-radius: 50%;
}
input
{
    padding: 2px;
    display: inline;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 500px; 
    height: 40px;
    outline: none;
}
button
{
    cursor: pointer;
    padding: 2px;
    display: inline;
    font-weight: 600;
    font-size: 18px;
    height: 50px;
    margin: 5px auto;
    width: 200px;   
    background: #A0F8E8;
    border: 1px solid #FFFFFF;
    box-shadow: inset 0px 4px 24px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    
}
.container
{
    display: inline;
    width: 750px;
    margin: 10px auto;
    padding: 20px 100px;
    padding-left: 200px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

}
table
{
    display: flex;
    margin: 50px auto;
    width: 700px;
    background: linear-gradient(90deg, rgba(186, 83, 112, 0.86) 0%, #F4E2D8 100%);
    align-content: center;
    
}
td{
    padding: 20px;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
tr{
    padding: 30px;
    text-align: center; 
}
.bar {
	position:relative;
    float:left;
    min-width:1%;
    height:100%;
    background: brown;
}
.upload-img
{
    width:200px; 
    height: 45px;
    margin-right:20px; 
    border-radius: 5px; 
    background-color: #FFFFFF; 
    box-shadow: none; 
    font-weight: normal;
    border: 2px solid rgba(0, 0, 0, 0.5);  
}
.upload-img{
    font-size: 18px;
    background-color: aquamarine;
    color: bisque;
}
label{
    font-size: 15px;
}
