body {
    background-color: azure;
}

.abt-contain {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

h1.big {
    margin: 20px auto;
    display: flex;
}

.top {
    width:500px;
    padding: 10px 20px;
    height: 380px;
    background: lightseagreen;
    margin-left: 50px;
}

h1.we {
    height: 50px;
}

h2 {
    width: 500px;
}

.butt {
    margin: 10px;
}

img.rec {
    height: 260px;
    width: 507px;
    border: inset;

}

.inf {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 50px; */
    height: 295px;
}

.diff {
    width: 350px;
    /* margin: 50px 70px 20px 30px; */
    margin-top: 50px;
    background-color: rgb(27, 163, 163);
    height: 370px;
    padding: 10px;

}

.diff:hover {
    background-color: rgb(22, 114, 114);
    transition: 0.8s;
}

.para {
    display: flex;
    margin-top: 10px;
    margin-bottom: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

  /* Contact CSS */

.contact {
    flex-direction: column;
    background-color: #c1af9b;;
}

.contact h1 {
    display: flex;
    justify-content: center;
    margin-top:25px;
}

.summary {
    display: flex;
}


.chips {
    display: flex;
    flex-direction: column;
    background: #1d444c;
    color: whitesmoke;
    width: 500px;
}

.chips h1 {
    font-size: 24px;
    font-family: cursive;
    font-weight: lighter;
}

#add {
    padding: 0px 145px 10px 135px;
    display: block;
    justify-content: center;
    text-align: center;
}

#Email {
    padding: 20px 90px 20px 95px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

#Email a {
    padding: 5px 10px 15px 20px;
    color: whitesmoke;
}


.fcon h2 {
    display: flex;
    justify-content: center;
    margin: 10px;

}

.fcon p {
    margin-left: 170px;
}

.fcon img {
    padding: 10px 12px;
}

.cuff {
    width: 850px;
    display: flex;
    flex-direction: column;
    background-color: #f8d7ac;
}

.cuff h3 {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-family: cursive;
    font-weight: lighter;
    padding: 20px 0px 20px 0px;
}


form {
    display: flex;
    flex-direction: column;
    padding: 8px 0px 16px 215px;
}

input#text {
    width: 410px;
    height: 45px;
    border-radius: 13px;
    padding-left: 26px;
    outline: none;
    border: none;
    margin: 12px 0px;
    text-align: justify;
}

button#send {
    display: flex;
    width: 186px;
    padding: 11px;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 20px 360px;
    border-radius: 9px;
    background: #39969b;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
}