.attendContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 30px;
}

.WebCam_container{
    display: none;
    width:800px;
    justify-content:center;
    align-items:center;
    height: 550px;
    padding: 10px 5px;
    position:relative;
}

#buttons{
    margin:5px auto;
}

.share{
    margin:0px 5px;
    border-radius:20px;
    color:white;
}

canvas{
    position: absolute;
    top: 0px;
    left: 46px;
}