.selectClass{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 2px 5px;
    margin-top:30px;
}
.selectClass div{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 2px 5px;
}

.selectClass label{
    font-size:1.3em;
    font-weight:bolder;
}

.selectClass input{
    margin:5px;
}

#className{
    margin:5px;
    margin-right: 25px;
    height:24px;
    outline:none;
}

.attendContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 15px 10px;
}

.WebCam_container{
    display: none;
    width:800px;
    justify-content:center;
    align-items:center;
    height: 550px;
    padding: 10px 5px;
    position:relative;
}

#buttons{
    margin:5px auto;
}

.share{
    margin:0px 5px;
    border-radius:20px;
    color:white;
}

canvas{
    position: absolute;
    top: 0px;
    left: 46px;
}