* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* body{
  background-color: #49b6b6;;
}

#root{
  height: 500px;
    background: rgba(245, 245, 245, 0.541);
    margin-bottom: 20px;
} */

.container1 {

    letter-spacing: 0.05em;
    display:flex;
    margin: 30px auto;  
    box-shadow: 3px 3px 3px 1px #000000;
    width: 800px;
    margin-top: 100px;
}

.lefty{
  display: flex;
  flex-direction: column;
  width: 400px;
  background: #005555;
}
.googleBtn{
  margin: 30px ;
}
.googleBtn h2{
  text-align: center;
  
  /* margin: 30px 0px 0px -106px; */
  color: white;
}
.logo1{
  position: relative;
  width: 100%;
  height: 60%;
}

.logo1 canvas{
  border-bottom-right-radius: 40%;
}

button{
  cursor: pointer;
  padding: 2px;
  font-weight: bolder;
  font-size: 18px;
  height: 40px;
  width: 200px;
  border: 1px solid #ffffff;
  box-shadow: inset 0px 4px 24px rgb(0 0 0 / 25%);
  border-radius: 20px;
  display: flex;
  background: rgb(80, 187, 186);
  margin: 42px 20px 18px 140px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.righty{
  display: flex;
  flex-direction: column;
  padding: 5px 30px;
  width: 400px;
  background: white;
  height: 500px;
}
#Logo{
  margin-top: 10px;
}
#Logo img{
  width: 250px;
  margin: 20px;
  padding-left: 20px;
}

.info{
  margin: 5px 0px 0px 0px;
}
.info h3{
  text-align: center;
  font-size: 27px;
  font-weight: bolder;
  /* padding: 10px; */
}
form{
  display: flex;
  flex-direction: column;
}
loginForm{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.loginForm input{
  width: 300px;
    background: none;
    border: none;
    border-bottom: 1px solid #005555;
}

.loginForm input:focus{
  border-bottom: 1px solid #145d74;
}

.loginForm button{
  cursor: pointer;
  background: #005555;
  color: white;
  border: 1px solid whitesmoke;
}

.loginForm button:hover{
  cursor: pointer;
  transition: 0.5s ease-in;
  background: #119292;
}

.loginForm p{
  font-size: 14px;
}
.info div{
  display: flex;
  flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 5px 30px;
}
.info div a{
  color:#005555;
  text-decoration: none;
  cursor:pointer;
}

.info div a:hover{
  color: #0fdada;
}
