section
{
    display: flex;
    flex-direction: column;
}
body{
  background-color: ghostwhite;
}
.container2
{
    padding: 16px;
    background-color: white;
    align-content: center;
    display: flex;
    flex-direction: column;
    width: 550px;
    border-radius: 10px;
    margin: 100px auto;
    /* background: linear-gradient(62deg, #EE7752, #E73C7E, #bb3dbb, #23D5AB);
     animation: gradient 10s ease infinite; 
      background-size: 400% 400% */
}
h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    /* background: linear-gradient(180deg, #4D0A77 0%, rgba(241, 120, 182, 0.83) 99.99%, rgba(194, 69, 133, 0.83) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.logo1 
{
    margin: auto;
    padding: 30px;
}
.logo1 img
{
    width: 150px;
    height: 120px;
    border-radius: 10px;
}
.Sign-Input
{
    padding: 6px;
    margin: 5px auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 280px; 
    height: 37px;
    outline: none;
}
.btn1
{
    border-radius: 8px;
    color: white;
    padding: 6px;
    width:  280px;
    height: 37px;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px auto;
    background: rgb(16 175 175);
    border: 1px solid #C480E4;
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.25);
}
form
{
    display: flex;
    flex-direction: column;
}
#login
{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#login p{
  margin-top:10px;
}
