*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.mainSection{
    display:flex;
    margin: 30px auto;  
<<<<<<< HEAD
    box-shadow: 3px 3px 5px 1px #000000;
=======
    box-shadow: 3px 3px 3px 1px #000000;
>>>>>>> 909a0b2a26b80cb9ec3978b862994a1c13c918b2
    width: 800px;
}

.leftSection{
    display: flex;
    flex-direction: column;
    width:400px;
    background: #005555;
}

.googleButCont{
    margin: 20px auto;
}

.googleButCont h2{
    text-align: center;
    margin: auto;
    color: white;
}

/* .imgCont img{
    width:350px;
} */

.imgCont{
    width:100%;
<<<<<<< HEAD
    height:50%;
=======
    height:60%;
>>>>>>> 909a0b2a26b80cb9ec3978b862994a1c13c918b2
}

.imgCont canvas{
    border-bottom-right-radius: 30%;
}

.rightSection{
    display: flex;
    flex-direction: column;
    padding:5px 30px;
    width:400px;
    background:white;
}

#Logo{
    margin-top:10px;
}

#Logo img{
<<<<<<< HEAD
    width: 250px;
=======
    width: 350px;
>>>>>>> 909a0b2a26b80cb9ec3978b862994a1c13c918b2
}

.formCont{
    margin: 10px;
}

.formCont h3{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
<<<<<<< HEAD
    padding: 0px;
=======
>>>>>>> 909a0b2a26b80cb9ec3978b862994a1c13c918b2
}

.formFields{
    display:flex;
    flex-direction: column;
    width: 300px;
}

.formFields input{
    width: 300px;
    background: none;
    border: none;
    border-bottom: 1px solid #005555;
}

.formFields input:focus{
    border-bottom: 1px solid #145d74;
}

.formFields button{
    cursor:pointer;
    background:#005555;
    color:white;
    border:1px solid whitesmoke;
}

.formFields button:hover{
    cursor:pointer;
    transition: 0.5s ease-in;
<<<<<<< HEAD
    background:#038373;
=======
    background:#119292;
>>>>>>> 909a0b2a26b80cb9ec3978b862994a1c13c918b2
}

.formCont div{
    display: flex;
    justify-content: space-evenly;
}

.formCont div a{
    color:#005555;
    text-decoration: none;
    cursor:pointer;
}

.formCont div a:hover{
    color:#0fdada;
}